## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Eltham,NZ,-39.4292,174.3000,51.69,97,46,4.50,scattered clouds
1,1,Samarai,PG,-10.6167,150.6667,80.19,80,35,6.08,scattered clouds
2,2,Paciran,ID,-6.8767,112.3761,81.36,78,96,12.62,overcast clouds
3,3,Mataura,NZ,-46.1927,168.8643,43.41,94,98,6.76,overcast clouds
4,4,Ancud,CL,-41.8697,-73.8203,48.61,68,91,11.88,light rain

In [9]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp)& \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
1,1,Samarai,PG,-10.6167,150.6667,80.19,80,35,6.08,scattered clouds
2,2,Paciran,ID,-6.8767,112.3761,81.36,78,96,12.62,overcast clouds
5,5,Kapaa,US,22.0752,-159.3190,75.18,96,75,8.05,broken clouds
8,8,Mahebourg,MU,-20.4081,57.7000,75.49,73,40,10.36,scattered clouds
12,12,Amapa,BR,1.0000,-52.0000,81.36,76,59,4.68,broken clouds
16,16,Puerto Escondido,MX,15.8500,-97.0667,85.03,79,40,5.75,scattered clouds
20,20,Rikitea,PF,-23.1203,-134.9692,75.96,76,8,13.29,clear sky
23,23,Yazd,IR,31.8972,54.3675,80.71,10,0,9.22,clear sky
28,28,Albany,US,42.6001,-73.9662,86.67,59,42,9.62,scattered clouds
29,29,Cabo San Lucas,MX,22.8909,-109.9124,78.62,65,0,6.91,clear sky

In [11]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                243
City                   243
Country                243
Lat                    243
Lng                    243
Max Temp               243
Humidity               243
Cloudiness             243
Wind Speed             243
Weather Description    243
dtype: int64

In [12]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_cities_df = preferred_cities_df.dropna()
clean_cities_df.count()

City_ID                243
City                   243
Country                243
Lat                    243
Lng                    243
Max Temp               243
Humidity               243
Cloudiness             243
Wind Speed             243
Weather Description    243
dtype: int64

In [14]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_cities_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Samarai,PG,80.19,scattered clouds,-10.6167,150.6667,
2,Paciran,ID,81.36,overcast clouds,-6.8767,112.3761,
5,Kapaa,US,75.18,broken clouds,22.0752,-159.3190,
8,Mahebourg,MU,75.49,scattered clouds,-20.4081,57.7000,
12,Amapa,BR,81.36,broken clouds,1.0000,-52.0000,
16,Puerto Escondido,MX,85.03,scattered clouds,15.8500,-97.0667,
20,Rikitea,PF,75.96,clear sky,-23.1203,-134.9692,
23,Yazd,IR,80.71,clear sky,31.8972,54.3675,
28,Albany,US,86.67,scattered clouds,42.6001,-73.9662,
29,Cabo San Lucas,MX,78.62,clear sky,22.8909,-109.9124,

In [15]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat}, {lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params = params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Samarai,PG,80.19,scattered clouds,-10.6167,150.6667,Nuli Sapi
2,Paciran,ID,81.36,overcast clouds,-6.8767,112.3761,Tanjung Kodok Beach Resort
5,Kapaa,US,75.18,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
8,Mahebourg,MU,75.49,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
12,Amapa,BR,81.36,broken clouds,1.0000,-52.0000,
...,...,...,...,...,...,...,...
700,San Ignacio,BZ,89.74,scattered clouds,17.1561,-89.0714,Rainforest Haven Inn
702,Manono,CD,81.97,broken clouds,-7.3000,27.4167,Hotel hewa bora
703,Alyangula,AU,78.03,scattered clouds,-13.8483,136.4192,Groote Eylandt Lodge
705,Poum,NC,78.17,broken clouds,-20.2333,164.0167,
706,Estelle,US,84.99,broken clouds,29.8458,-90.1067,Boomtown Casino & Hotel New Orleans

In [16]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
hotel_df["Hotel Name"].replace("", np.nan, inplace = True)
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Samarai,PG,80.19,scattered clouds,-10.6167,150.6667,Nuli Sapi
2,Paciran,ID,81.36,overcast clouds,-6.8767,112.3761,Tanjung Kodok Beach Resort
5,Kapaa,US,75.18,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
8,Mahebourg,MU,75.49,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
12,Amapa,BR,81.36,broken clouds,1.0000,-52.0000,NaN
16,Puerto Escondido,MX,85.03,scattered clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
20,Rikitea,PF,75.96,clear sky,-23.1203,-134.9692,People ThankYou
23,Yazd,IR,80.71,clear sky,31.8972,54.3675,Mozaffar Traditional Hotel
28,Albany,US,86.67,scattered clouds,42.6001,-73.9662,NaN
29,Cabo San Lucas,MX,78.62,clear sky,22.8909,-109.9124,Hotel Tesoro Los Cabos

In [18]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [20]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<d1>
<d1>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<d1>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<d1>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]

fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))